body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Arial;
    color: #e0f7fa;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background: #111;
    padding: 25px;
    border-radius: 20px;
    width: 420px;
    box-shadow: 0 0 30px #00e5ff;
}

h2 {
    text-align: center;
    color: #00e5ff;
}

.mode-switch {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.mode-switch button {
    flex: 1;
    padding: 12px;
    background: #222;
    border: 2px solid #00e5ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.mode-switch button:hover {
    background: #00e5ff;
    color: black;
}

#buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

#buttonsContainer button {
    flex: 1 0 30%;
    padding: 10px;
    background: #1e1e1e;
    border: none;
    color: #00e5ff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#buttonsContainer button:hover {
    background: #00e5ff;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #00e5ff;
    background: #222;
    color: white;
}

canvas {
    display: none;
    margin-top: 10px;
    border: 1px solid #00e5ff;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background: #222;
    border: 2px solid #00e5ff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #00e5ff;
    color: black;
}